<% if logged_in? %>
  <h1>Welcome, <%= current_user.name %>!</h1>
  <div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 card" style="width: 15rem;">
      <h5 class="header">
        Paid Holiday chart <%= icon('far', 'calendar') %>
      </h5>
      <div class="card-body">
        <div class="card-text">1 day April</div>
      </div>
    </div>
    <div class="col-sm-6 card" style="width: 15rem;">
      <h5 class="header">
        Message for you <%= icon('fas', 'inbox') %>
      </h5>
      <div class="card-body">
        <div class="card-text">notification 1</div>
      </div>
    </div>

  </div>
  
  <div class="row">
    <div class="col-sm-6 card" style="width: 15rem;">
      <h5 class="header">
        Overtime result <%= icon('far', 'clock') %>
      </h5>
      <div class="card-body">
        <div class="card-text">4 hours in April</div>
      </div>
    </div>
    <div class="col-sm-6 card" style="width: 15rem;">
       <h5 class="header">
        Overall status <%= icon('far', 'clipboard') %>
      </h5>
      <div class="card-body">
        <div class="card-text">good</div>
      </div>
    </div>
  </div>
</div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to Time Register!</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>



